

<h1> Forum </h1>

<div class="container" ng-hide="vm.showCreateThread">
    <hr />
    <!-- User must have a role and be logged in to be able to create a thread -->
    <div ng-if="vm.userRole === 'Admin' || vm.userRole === 'Moderator' || vm.userRole === 'User'">
        <button ng-click="vm.showCreateThread = !vm.showCreateThread" class="btn btn-group-lg">Create Thread</button>
        <hr />
    </div>
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Title</th>
            <th>User</th>
            <th>PostTime</th>
        </tr>

        <tr ng-repeat="thread in forumThreads">
            <td><a href="#/forum/:{{thread.Title}}/:{{thread.Id}}"> {{thread.Title}} </a></td>
            <td>{{thread.User.UserName}}</td>
            <td>{{thread.PostTime}}</td>
        </tr>
    </table>

</div>

<div class="container" ng-show="vm.showCreateThread">
    <hr />
    <button ng-click="vm.showCreateThread = !vm.showCreateThread" class="btn btn-group-lg">Back</button>
    <hr />
    <div ng-form="newEventForm" id="eventForm">
        <label>Title</label>
        <input class="form-control" ng-model="vm.title" type="text" maxlength="100" required />

        <label>Post</label>
        <textarea rows="10" cols="100" class="form-control" ng-model="vm.body" maxlength="5000" required />
        <a href="#/forum">
            <input type="submit" class="btn btn-sm btn-success" value="submit" ng-click="vm.createThread()" />
        </a>
    </div>
</div>