

<h1>News Feed</h1>


<!--    Show Events     -->
<div class="container" ng-show="vm.showEvents">
    <hr />
    <div ng-if="vm.userRole === 'Admin' || vm.userRole === 'Moderator'">
        <button class="btn" ng-click="vm.addEvent()" ng-show="vm.showEvents">Add event</button>
    </div>
    <hr />
    <div>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
        <ul class="list-group" ng-repeat="event in events">
            <li class="list-group-item"><h3>{{event.Title}}</h3></li>
            <li class="list-group-item"><p style="white-space: pre-line;">{{event.Body}}</p></li>
            <li class="list-group-item"><p>{{event.PostTime}}</p></li>
            <li class="list-group-item">
                <div ng-if="vm.userRole === 'Admin' || vm.userRole === 'Moderator'">
                    <button ng-click="vm.deleteEvent(event)" class="btn btn-sm btn-danger">Delete</button>
                    <button ng-click="vm.editEvent(event)" class="btn btn-sm btn-success">edit</button>
                </div>
            </li>
        </ul>

    </div>
</div>

<!--    Add event Form      -->

<div class="container" ng-show="!vm.showEvents">
    <hr />
    <button ng-click="vm.showEvents = !vm.showEvents" ng-show="!vm.showEvents">Show Events</button>
    <hr />
    <div ng-form="newEventForm" id="eventForm">
        <label>Title</label>
        <input class="form-control" ng-model="vm.title" type="text" maxlength="100" required />

        <label>Event information</label>
        <textarea rows="10" cols="100" class="form-control" ng-model="vm.body" maxlength="5000" required />
        <a href="#/newsFeed">
            <input type="submit" class="btn btn-sm" value="submit" ng-click="vm.submitForm()" />
        </a>
    </div>
</div>
