
<h1> {{vm.userName}} </h1>
<div class="container">    
    <!-- Actions -->
    <div class="container col-sm-8">
        <div class="row" id="chatBox">
            <ul class="list-group" ng-repeat="message in vm.messages">
                <li class="list-group-item"><span>{{message.Username}} - {{message.Time}}</span></li>
                <li class="list-group-item"><p>{{message.Message}}</p></li>
            </ul>
        </div>
        <div ng-form="chatForm" id="chatForm">
            <textarea id="chatTextArea" class="form-control" ng-model="vm.message" maxlength="2000" required />
            <input type="submit" class="btn btn-sm btn-success" value="Send" ng-click="vm.sendMessage()" />
        </div>
    </div>
        <!-- user list -->
    <div class="row col-sm-4">
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users" ng-model="user.UserName">
                <a href="#/user/:{{user.UserName}}">
                    {{user.UserName}}
                </a>
            </li>
        </ul>
    </div>
</div>



